@model IEnumerable<RetrievedFileViewModel>

@{
    ViewData["Title"] = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Files</h1>
<h5>Belows are all the files available for this account:</h5>

<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Last Modified</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RetrievedFile.Name</td>
                <td>@item.RetrievedFile.Properties.LastModified.GetValueOrDefault().ToLocalTime().DateTime</td>
                <td>
                    @Html.ActionLink("Share", "Share", new { FileName = item.RetrievedFile.Name }) |
                    @Html.ActionLink("Download", "Download", new { FileName = item.RetrievedFile.Name })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (TempData["ShareActionReturnMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["ShareActionReturnMessage"]");
            };
    </script>
}