@model IEnumerable<RetrievedFileViewModel>

@{
    ViewData["Title"] = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Files</h1>
<h5>Belows are all the files available for this account:</h5>

<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Last Modified</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RetrievedFile.Name</td>
                <td>@item.RetrievedFile.Properties.LastModified.GetValueOrDefault().ToLocalTime().DateTime</td>
                <td>
                    <div class="btn-group float-right">
                        <form asp-action="Share" asp-route-FileName="@item.RetrievedFile.Name">
                            <input type="submit" value="Share" class="btn btn-primary mx-1" />
                        </form>
                        <form asp-action="Download" asp-route-FileName="@item.RetrievedFile.Name">
                            <input type="submit" value="Download" class="btn btn-primary mx-1" />
                        </form>
                        <form asp-action="CreateSignRequest" asp-route-FileName="@item.RetrievedFile.Name">
                            <input type="submit" value="Signature" class="btn btn-primary mx-1" />
                        </form>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

@if (TempData["ShareActionReturnMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["ShareActionReturnMessage"]");
            };
    </script>
}
@if (TempData["CreateSignRequestActionReturnMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["CreateSignRequestActionReturnMessage"]");
            };
    </script>
}
