@model IEnumerable<FYP.Models.UserInfo>

@{
    ViewData["Title"] = "ViewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var result = Model;
}

<h1>ViewUser</h1>
<h5>Belows are the users under the management of your account.</h5>
<p>
    <a asp-action="CreateUser">Create a new User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                User Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccess.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Delete User", "DeleteUser", new { UserId = item.UserAccess.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (TempData["DeleteUserReturnMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["DeleteUserReturnMessage"]");
            };
    </script>
}

@if (TempData["CreateUserReturnMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["CreateUserReturnMessage"]");
            };
    </script>
}